@{
	Layout = "_Base";
}
<header>
	<h1>
		<a asp-area="" asp-page="/Index">Rockaway</a>
	</h1>
	<nav>
		<a asp-area="" asp-page="/Index">Home</a>
		<a asp-area="" asp-page="/Privacy">Privacy</a>
	</nav>
</header>
<main>
	@RenderBody()
</main>
<footer>
	&copy; 2023 - Rockaway.WebApp
	<nav>
	<a asp-area="" asp-page="/Privacy">Privacy</a>
	</nav>
</footer>
@section Scripts {
	@await RenderSectionAsync("Scripts", required: false)
}