@{
	Layout = "_Base";
}
@section Head {
	@await RenderSectionAsync("Head", required: false)
}
<header>
	<h1>
		<a asp-area="" asp-page="/Index">Rockaway</a>
	</h1>
	<label id="nav-toggle" for="nav-checkbox">
		<i class="fa-solid fa-bars"></i>
	</label>
	<input type="checkbox" id="nav-checkbox" />
	<nav>
		<a asp-area="" asp-page="/Index">Home</a>
		<a asp-area="" asp-page="/Privacy">Privacy</a>
	</nav>
</header>
<main>
	@RenderBody()
</main>
<footer>
	&copy; 2023 - Rockaway.WebApp
	<nav>
		<a asp-area="Admin" asp-page="Index">Admin</a>
		<a asp-area="" asp-page="Elements">Elements</a>
		<a asp-area="" asp-page="BootstrapCheatsheet">Bootstrap Cheat Sheet</a>
	</nav>
</footer>
@section Scripts {
	@await RenderSectionAsync("Scripts", required: false)
}